.page
{
    margin-top: 1em;
}

.photo
{
    text-decoration: none;
}

.photo .info
{
    text-align: center;
    color: black;
}

.photo .title
{
    margin-top: 0.5em;
    font-size: 1.5em;
}

.photo .price
{
    margin-top: 0.25em;
}

.photo .description
{
    margin-top: 1em;
}

