/*******************************
* Tags
**/

a:focus,
a:hover
{
    text-decoration: none;
}

/*******************************
* Button
**/

.button:hover
{
    background-color: #004182;
}

/*******************************
* Transient State
**/

.hidden
{
    display: none;
}

