/*******************************
* Actions
**/

.action
{
    color: var(--font-color-default);
}

/*******************************
* Messages
**/

.message
{
    font-size: 16pt;
    text-align: center;
}

.message--error
{
    color: var(--error-color);
}


/*******************************
* Grid
**/

@media (min-width: 20em)
{
    .grid
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 2em;
        grid-row-gap: 2em;
    }
}

@media (min-width: 32em)
{
    .grid
    {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 42em)
{
    .grid
    {
        grid-template-columns: repeat(4, 1fr);
    }
}

/*******************************
* Action Bar
**/

.action-bar
{
    display: flex;
    justify-content: center;
}

.action-bar--justify-right
{
    justify-content: right;
}

.action-bar > *
{
    flex-grow: 0;
}

