body
{
    margin: 0 auto;
    max-width: 50em;
    width: 88%;
}

img
{
    display: block;
    height: auto;
    max-width: 100%;
}

footer
{
    border-top: 1px solid #e5e5e5;
    margin-top: 5em;
}

