.page > .title
{
    margin-bottom: 1em;
}

.product
{
    text-decoration: none;
}

.product .info
{
    text-align: center;
    color: black;
}

.product .title
{
    margin-top: 1em;
    font-size: 20pt;
}

.product .description
{
    margin-top: 1em;
}

.product .price
{
    font-size: 16pt;
    margin-top: 2em;
}

.product .add-to-cart
{
    margin-top: 1em;
}

.button
{
    margin-top: 1em;
    display: inline-block;
    line-height: 1.24;
    font-size: 1em;
    font-weight: bold;
    padding: 0.5em 1em;
    cursor: pointer;
    color: #ffffff;
    background-color: #015db9;
}

